.app {
  background-color: #f2f2f2; /* Light mode background */
  color: #333; /* Light mode text color */
}

.dark {
  background-color: #333; /* Dark mode background */
  color: #fff; /* Dark mode text color */
}

.light {
  background-color: #f2f2f2; /* Light mode background */
  color: #333; /* Light mode text color */
}
